{% include 'header.html' %}
<div class="content-wrapper">
    <br>
    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="error-page">
                    <h1 class="headline text-danger"> <i class="fas fa-solid fa-ban text-warning"
                            style="font-size: 150%;"></i></h1>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Fitur Ini Tidak Tersedia
                            Untuk Perangkat Anda!</h3>
                        <p>
                            Mohon Maaf, fitur ini hanya tersedia di perangkat mobile.
                        </p>
                        <a href="/" class="btn btn-warning">kembali</a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

{% include 'footer.html' %}